QStackedWidget{
    background: #252525;
}

QMenuBar{
    background-color: #252525;
    color: snow;
}
QMenuBar::item:selected{
    background-color: #ED213A;
}

QMenu{
    background-color: #252525;
    color: snow;
}
QMenu::item:selected{
    background-color: #ED213A;
}
QMenu::item:pressed{
    background-color: #ED213A;
}

QComboBox {
    background-color: transparent;
    border: 2px solid #ED213A;
    border-radius: 12px;
    color: #f3e7e8;
    margin-left: 2px;
    padding: 8px;
}
QComboBox::drop-down{
    border: none;
}
QComboBox::down-arrow{
    image: url(images/icons/black_icons/expand_more_black_24dp.svg);
    padding-right: 5px;
}
QComboBox QAbstractItemView {
    outline: 0px;
    color: #d3d1d1;
    background-color: #454545;
    selection-color: #ED213A;
    selection-background-color: transparent;
    padding-left: 20px;
}

QPushButton#filterButton{
    background-color: #ED213A;
    border-radius: 16px;
    margin-left: 5px;
}
QPushButton#filterButton:hover{
    background-color: #69131d;
}

QPushButton#gridModeButton,#listModeButton {
    background-color: transparent;
    border: 1px;
    border-color: whitesmoke;
 }
QPushButton#gridModeButton:hover,#listModeButton:hover {
    background-color: #ED213A;
}

QTabWidget::pane { /* The tab widget frame */
    /* border: none; */
    border: 3px solid #ED213A;
}
QTabBar::tab {
    background: #69131d;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-bottom: 12px;
    padding-left: 5px;
    padding-right: 2px;
}
QTabBar::tab:hover {
    background: #8f1a28;
}
QTabBar::tab:selected{
    background: #ed213a;
}

QLabel{
    color: snow;
}
QLabel#userNameLabel{
    color: rgb(184, 178, 178);
}
QLineEdit{
    qproperty-frame: false;
    background: transparent;
    border: 2px solid #ed213a;
    color: rgb(194, 194, 194);
    font-size: 14px;
    padding-left: 5px;
}
QLineEdit:focus{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #ed213a;
}
QPushButton{
    border-radius: 25px;
    background-color: rgb(80, 80, 80);
}
QPushButton#addMovieButton:hover,#addUserButton:hover, #addWhoWatchButton:hover{
    background-color: rgb(51, 228, 154);
}
QPushButton#deleteMovieButton:hover,#deleteUserButton:hover, #deleteWhoWatchButton:hover{
    background-color: rgb(255, 9, 9);
}


QListWidget{
    background: rgb(77, 77, 77);
    border: none;
    outline: none;
}
QListWidget:item{
    selection-background-color: red;
    outline: none;
}
QListWidget::item:hover{
    color: snow;
    background: #ed213a;
    outline: none;
}
QListWidget#listUser::item:selected, #whoWillWatchList::item:selected{
    background: #811421;
    outline: none;
}

QListWidget#listMovies{
    background:transparent;
    color: rgb(165, 165, 165);
}

QPushButton#ratingButton{
    border-radius: 30px;
}
QPushButton#ratingButton:hover{
    background-color: rgb(255, 230, 0);
}

QPushButton#orderButton{
    border-radius: 30px;
}
QPushButton#orderButton:hover{
    background-color: rgb(255, 24, 186);
}

QTreeWidget{
    background: rgb(77, 77, 77);;
    border: none;
    outline: none;
    color: rgb(148, 148, 148);
}
QTreeWidget::item:hover, ::item:selected{
    color: snow;
    background: #ed213a;
    outline: none;
}


QPushButton#drawButton:hover{
    background: rgb(245,106,106);
    background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:1, y2:1, stop:0 rgba(245, 106, 106, 255), stop:0.35 rgba(221, 33, 100, 255), stop:1 rgba(255, 0, 172, 255));
}